.teamspace-form .row .col {
  padding: 0;
}

@media screen and (max-width: 1100px) {
  .teamspaces-main-container {
    height: 100vh;
  }
  .teamspace-form .title-row {
    flex-direction: column;
    gap: 2em;
  }
}
