.teamspaces > .row {
  gap: 2em;
}

.teamspaces .card {
  transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms,
    background-color 200ms ease-in-out;
  background-color: #2b2a34;
  box-shadow: 0 0 8px 0 rgba(39, 39, 39, 0.2);
  /* text-align: center; */
  text-decoration: none;
  /* aspect-ratio: 1/0.3; */
}

.teamspaces .card span.card-title {
  color: #fff;
  transition: color 200ms ease-in-out;
  font-size: 1.5em;
}

.teamspaces .card:hover,
.teamspaces .card:focus {
  translate: 0 -5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.teamspaces .badge {
  width: min-content;
}

.py-4:has(.teamspaces-main-container) {
  padding: 0 !important;
  margin: 0 !important;
  max-width: 99%;
}

.teamspaces-main-container > :first-child {
  flex: 0;
}

.teamspaces-main-container > :nth-child(2) {
  padding: 1.5em 6em;
  /* padding-left: 23em; */
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 1100px) {
  .teamspaces-main-container > :first-child {
    display: none;
  }
  .teamspaces-main-container > :nth-child(2) {
    padding: 1.5em 1.5em;
  }

  .teamspaces-main-container .note-container {
    max-width: calc(100vw - 3em);
  }

  .teamspaces-main-container .note-container > :first-child {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1.5em;
  }

  .teamspaces-main-container .note-container > :first-child > :nth-child(2) {
    width: 100%;
  }

  .teamspaces-main-container
    .note-container
    > :first-child
    > :nth-child(2)
    .hstack
    > :first-child {
    margin-right: auto;
  }
}
