*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: #1f1b24 !important;
}

.h4.modal-title {
  margin-top: 0 !important;
}

.modal .modal-content {
  background-color: #333;
  color: white;
}

.modal .modal-content button.btn-close {
  background-color: #ccc !important;
}
.modal .modal-content button {
  color: #fff;
}

.modal .modal-content input {
  background-color: rgba(34, 34, 34, 0.5);
}

h1 {
  color: #fff;
}
h1.note-title {
  margin-top: 0 !important;
}

button.white-text {
  color: #fff !important;
}

label {
  color: #fff;
}

.note-markdown {
  color: #fff;
}

.note-markdown code {
  background-color: #5555559c;
  color: #fff;
  padding: 0.15rem 0.25rem;
  border-radius: 5px;
  box-shadow: 0 0 4px 0px #333;
  font-family: monospace;
}

.note-markdown pre {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  padding: 1em 0.5em;
  background-color: #2c2832;
  overflow: hidden;
  min-height: 45px;
  margin-bottom: 1.75em !important;
}
.note-markdown pre code {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent !important;
  text-shadow: none !important;
}

.note-markdown pre pre {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0 0.5em !important;
}

.note-markdown blockquote {
  font-style: italic;
  position: relative;
  padding-left: 18px;
}
.note-markdown blockquote::after {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 0.25em;
  background-color: #ccc;
  top: 0;
  left: 0;
}

.note-markdown table {
  margin-bottom: 1.5em;
}

.css-2613qy-menu {
  background-color: red !important;
}

input.form-control {
  background-color: #2b2a34;
  color: #fff;
}
input.form-control:focus {
  background-color: #444;
  color: #fff;
}

textarea.form-control {
  color: #fff;
  background-color: #2b2a34;
}
textarea.form-control:focus {
  color: #fff;
  background-color: #2b2a34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note-markdown pre div:not(.code-copy-btn) {
  background: none !important;
  font-family: inherit !important;
  font-size: inherit !important;
  padding: 0 0.5em !important;
  margin: 0 !important;
}

.h1,
.h2,
h1,
h2 {
  margin-top: 1.3em !important;
}

.h3,
.h4,
.h5 .h6,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em !important;
}

.toc .toc-header {
  color: #fff;
  margin-top: 0 !important;
}
.toc hr {
  color: #fff;
}
.toc ul {
  margin-bottom: 0;
}
.toc ul a {
  text-decoration: none;
}
.toc ul li::marker {
  color: #fff;
}
.toc .level-3,
.toc .level-4,
.toc .level-5,
.toc .level-6 {
  margin-left: 1em;
}
.toc .level-2,
.toc .level-3 {
  margin-top: 0.25em;
}

.toc .level-4,
.toc .level-5,
.toc .level-6 {
  list-style-type: circle;
}

/* Table */
.note-markdown table th,
.note-markdown table td {
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.5em;
}

.note-markdown table tr {
  background-color: #2c2832;
}

.note-markdown table tr:nth-child(2n) {
  background-color: #201d24;
}

.note-markdown p:has(img) {
  min-width: 100%;
  overflow: auto;
}

.loading-card span {
  position: relative;
}

.loading-card span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  translate: -25%;
  height: 100%;
  background-color: #484750;
  border-radius: 5px;
}
.loading-card span:not(.badge)::before {
  translate: -25%;
  background-color: #484750;
}

.loading-card span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(72, 71, 80, 1) 0%,
    rgba(43, 42, 52, 1) 50%,
    rgba(72, 71, 80, 1) 100%
  );
  animation: loadingAnim 1s ease-in-out infinite;
}
.loading-card span:not(.badge)::after {
  border-radius: 5px;
  animation: loadingAnim2 1s ease-in-out infinite;
}

@keyframes loadingAnim {
  0% {
    left: -21px;
  }
  100% {
    left: 100%;
  }
}
@keyframes loadingAnim2 {
  0% {
    left: -50%;
  }
  100% {
    left: 105%;
  }
}
