:root {
  --black: #000;
  --white: #fff;
  --grey: #ccc;
  --dark-grey: #555555;
  --code-pink: rgb(255, 0, 179);
}

body:has(.lightmode) {
  background-color: var(--white) !important;
  color: var(--black);
}

.lightmode .modal.modal-content {
  color: var(--black);
  background-color: var(--white);
}
.lightmode h1 {
  color: var(--black);
}

.lightmode button.white-text {
  color: var(--black) !important;
}
.lightmode label,
.lightmode .note-markdown {
  color: var(--black);
}

.lightmode .note-markdown code {
  background-color: transparent;
  color: var(--code-pink);
  box-shadow: none;
}

.lightmode .note-markdown pre {
  background-color: #ededed6e;
  border: 1px solid var(--grey);
}

.lightmode input.form-control {
  background-color: var(--white);
  border: 1px solid var(--grey);
  color: var(--black);
}
.lightmode input.form-control:focus {
  color: var(--black);
}

.lightmode textarea.form-control {
  color: var(--black);
  background-color: var(--white);
}
.lightmode textarea.form-control:focus {
  color: var(--black);
}

.lightmode .row:has(> .toc) {
  background-color: #ededed;
}
.lightmode .toc .toc-header {
  color: var(--black);
}
.lightmode .toc hr {
  color: inherit;
}
.lightmode .toc ul li::marker {
  color: var(--black);
}

.lightmode .note-markdown table th,
.lightmode .note-markdown table td {
  border: 1px solid #00000050;
}
.lightmode .note-markdown table tr {
  background-color: var(--grey);
}

.lightmode .note-markdown table tr:nth-child(2n) {
  background-color: var(--white);
}

.lightmode .loading-card span::before {
  background-color: var(--grey);
}
.lightmode .loading-card span:not(.badge)::before {
  background-color: var(--grey);
}

.lightmode .loading-card span::after {
  background: linear-gradient(
    90deg,
    var(--grey) 0%,
    #8b8b8b 50%,
    var(--grey) 100%
  );
}

.lightmode .createAccContainer h3 {
  color: var(--black);
}

.lightmode div.notification1 {
  background-color: var(--white);
  color: var(--black);
}

.lightmode .card {
  background-color: var(--white);
  box-shadow: none;
}
.lightmode .card span:not(.badge) {
  color: var(--black);
}
.lightmode .teamspaces .card {
  background-color: var(--white);
  box-shadow: none;
}
.lightmode .teamspaces .card span:not(.badge) {
  color: var(--black);
}

.lightmode .code-copy-btn {
  fill: var(--dark-grey);
}
.lightmode .code-copy-btn:hover {
  fill: var(--black);
}

.lightmode svg path {
  stroke: var(--black);
}
